@model Versta.DeliveryApp.Application.DTOs.OrderDto

@{
    ViewData["Title"] = "Детали заказа";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tbody>
    <tr>
        <th>Номер заказа</th>
        <td>@Model.OrderNumber</td>
    </tr>
    <tr>
        <th>Город отправителя</th>
        <td>@Model.SenderCity</td>
    </tr>
    <tr>
        <th>Адрес отправителя</th>
        <td>@Model.SenderAddress</td>
    </tr>
    <tr>
        <th>Город получателя</th>
        <td>@Model.ReceiverCity</td>
    </tr>
    <tr>
        <th>Адрес получателя</th>
        <td>@Model.ReceiverAddress</td>
    </tr>
    <tr>
        <th>Вес</th>
        <td>@Model.Weight</td>
    </tr>
    <tr>
        <th>Дата забора</th>
        <td>@Model.PickupDate</td>
    </tr>
    <tr>
        <th>Дата создания</th>
        <td>@Model.CreatedAt</td>
    </tr>
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Вернуться к списку</a>
